[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rsubgroup"]
	path = rsubgroup
	url = https://github.com/cran/rsubgroup
	shallow = true
	registered = true
